<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <div class="wrapper">
    <aside class="sidebar">
      <div class="about">
        <div class="cover-author-image">
          <img src="{{ '/assets/images/author.jpg' | relative_url }}" alt="{{ site.author }}">
        </div>
        <h1 class="author-name">{{ site.author }}</h1>
        <p>{{ site.about-author }}</p>
      </div>
      <div class="contact">
        <h3 class="contact-title">Contact Me</h3>
        <ul>
          {% if site.social-twitter %}<li><a href="https://twitter.com/{{ site.social-twitter }}">Twitter</a></li>{% endif %}
          {% if site.social-github %}<li><a href="https://github.com/{{ site.social-github }}">GitHub</a></li>{% endif %}
          {% if site.social-email %}<li><a href="mailto:{{ site.social-email }}">Email</a></li>{% endif %}
        </ul>
      </div>
    </aside>

    <main class="content-box">
      {{ content }}
    </main>
  </div>
</body>
</html>
